<div class="container">
	<h1>This is the root</h1>
</div>
<div class="container">
	<div class="nav pull-left">
		<%=link_to "add resource",new_writer_resource_path%>
	</div>
<% @resources.each do |r|%>
<h2><%=r.resource_name%>
<%= link_to "view", writer_resource_path(r.id)%>
<%= link_to "edit", edit_writer_resource_path(r.id)%>
<%end%>
</div>